[Unit]
Description=Docker Spigot service
After=docker.service
Requires=docker.service

[Service]
User=ec2-user
StandardInput=tty-force
TimeoutStartSec=0
Restart=always
RestartSec=10
ExecStart=/usr/bin/docker run \
  --rm \
  --name %n \
  -p 25565:25565/tcp \
  -p 25565:25565/udp \
  --mount type=bind,source=/server/data,target=/home/minecraft/server \
  -it \
  shepherdjerred/spigot:1.18.1 \
  -Xmx4G \
  -jar "../spigot.jar"
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target
