[Unit]
Description=Docker Minecraft service
After=docker.service
Requires=docker.service

[Service]
User=root
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull shepherdjerred/spigot:latest
ExecStart=/usr/bin/docker run \
  -p 25565:25565/tcp \
  -p 25565:25565/udp \
  -p 8123:8123/tcp \
  --mount type=bind,source=/server/data,target=/home/minecraft/server \
  -itd \
  shepherdjerred/spigot:latest \
  -jar ../spigot.jar \
  -Xmx4G

[Install]
WantedBy=default.target
