name: Docker

on:
  schedule:
    - cron: '38 20 * * *'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  IMAGE_NAME: ${{ github.repository }}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        minecraft_version:
        - latest
        - 1.17.1
        - 1.17.0
        - 1.16.5
        - 1.16.4
        - 1.16.3
        - 1.16.2
        - 1.16.1
        - 1.15.2
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Log into Docker
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: shepherdjerred
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            shepherdjerred/spigot:${{ matrix.minecraft_version }}
            ghcr.io/shepherdjerred-minecraft/spigot:${{ matrix.minecraft_version }}
          build-args: ${{ strategy.matrix.minecraft_version }}
